.nav-link {
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E6E6E6;
    min-width: 400px;
}

.textoh3{
    color: white;
    padding: 10px;
}

/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: black;
    margin-top: auto;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.redes {
    height: 45px;
    width: 45px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');


#logop {
    height: 50px;
    width: 50px;
}

header {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

header .logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover {
    transform: scale(1.2);
}

header .nav-links {
    list-style: none;
}

header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    padding-top: 2px;
}

header .nav-links li:hover,
/**/
.overlay a:hover {
    transform: scale(1.1);
}

header .nav-links a {
    font-size: 700;
    color: whitesmoke;
}

header .nav-links a:hover {
    color: aqua;
}

/**/
.menu {
    display: none;
}

header .btn button,
/**/
header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .btn button:hover,
header .menu button:hover {
    background-color: aqua;
    color: black;
    transform: scale(1.1);
}




/**/
@media screen and (max-width: 800px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}



/*Nav Mobile*/

header a {
    text-decoration: none;

}

header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

header .overlay a:hover,
header .overlay a:focus {
    color: aqua;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    header .overlay a {
        font-size: 20px;
    }

    header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


::selection {
    color: #fff;
    background: #d43f8d;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 20px 20px 20px;
}

.container {
    border-radius: 100%;
    width: 400px;
    background: grey;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;

}

.container h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: white;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
    color: white;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: black;
    margin-top: -20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    color: aqua;
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid white;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: aqua;
    background: aqua;
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}

.progress-bar .step .bullet.active:after {
    background: aqua;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: aqua;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

.numero{
    color: white;
}

#logop{
    height: 50px;
    width: 50px;
}

.warnings {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    margin: auto;
    text-align: center;
}